{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | Feeder</title>
  <link href="{% static "css/uikit.gradient.min.css" %}" rel="stylesheet">
  <link href="{% static "css/custom.css" %}" rel="stylesheet">
</head>
<body>

  <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    {% include "feeds/navigation.html" %}

    <div class="uk-grid">
      {% block content %}
      {% endblock %}
    </div><!-- .uk-grid -->
  </div>

  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="{% static "js/uikit.min.js" %}"></script>
  <script src="{% static "js/components/autocomplete.js" %}"></script>

</body>
</html>
