{% extends "feeds/base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}

  <div class="article-wrapper uk-width-4-5">
    {% if object_list %}

      {% for article in object_list %}
        <article class="uk-article uk-panel">

          <p class="uk-article-meta">
            <a href="{% url 'feeds:feed_article_list' article.feed.id article.feed.slug %}">{{ article.feed }}</a> /
            {% if article.author.id %} <a href="{% url 'feeds:author_article_list' article.author.id article.author.slug %}">{{ article.author }}</a> / {% endif %}
            Published on {{ article.published }}
          </p>

          <div class="article-container">
            <div class="article-thumb">
            {% if article.img_url %}
              <img src="{{ article.img_url }}">
            {% else %}
              <img src="https://placehold.it/100x66">
            {% endif %}
            </div>
            <h1 class="uk-article-title"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h1>
          </div>

        </article>
      {% endfor %}

      {% if is_paginated %}
        {% include "feeds/pagination.html" %}
      {% endif %}

    {% else %}
      <p>No articles found!</p>
    {% endif %}
  </div>

  <div class="uk-width-1-5">
    <h3>Active feeds</h3>
    {% include "feeds/feed/feeds_list_side.html" with feeds=view.active_feeds %}
  </div>

{% endblock %}
